<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687254879568-1i8ne5tm1ud1s7hmno6uuqcot9takrkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687254879568-1i8ne5tm1ud1s7hmno6uuqcot9takrkl</string>
	<key>API_KEY</key>
	<string>AIzaSyD2chIGRRol1MODIs3TTfK2qoRVOzoYB60</string>
	<key>GCM_SENDER_ID</key>
	<string>687254879568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NickWon.Splink</string>
	<key>PROJECT_ID</key>
	<string>splink-19e7c</string>
	<key>STORAGE_BUCKET</key>
	<string>splink-19e7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687254879568:ios:1687250facdb4c66a00055</string>
	<key>DATABASE_URL</key>
	<string>https://splink-19e7c.firebaseio.com</string>
</dict>
</plist>